.Button{
    width :150px;
    border-radius: 10px;
    box-shadow:2px 2px 5px #3333;
    opacity: 0.5;
    background-color: rgb(226, 232, 236);
    padding: 10px;
    border :2px solid #baab8f;
    margin: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    display:flex;
   
    

    
   
   
}