/* ImageSlider.css */

/* Estilo del contenedor del slider */
.slider-container {
  border-radius: 10px;
  margin: 1% auto; /* Centrar horizontalmente y espacio vertical mínimo */
  max-width: 95%; /* Ancho máximo igual al tamaño del contenedor padre */
  padding: 0;
  justify-content: center;
  align-items: center;
}

/* Estilo de las imágenes dentro del slider */
.slider-container img {
  border: solid 1px black;
  border-radius: 10px;
  overflow: hidden;
  width: 95%; /* Ajustar imágenes al ancho del contenedor */
  max-height: 650px; /* Altura máxima para mantener la relación de aspecto */

 
}

/* Estilo de los puntos indicadores (dots) del slider */
.slick-dots {
  text-align: center; /* Centrar los puntos indicadores */
  margin-top: 20px;
   /* Espacio superior */
}

/* Estilo de los puntos indicadores individuales */
.slick-dots li {
  display: inline-block; /* Mostrar los puntos en línea */
  margin: 0 5px; /* Espacio entre los puntos */
}

/* Estilo de los puntos activos */
.slick-dots li.slick-active button::before {
  color: #ff5733; /* Color del punto activo */
}
